

   <!-- Contact Section
   ================================================== -->
   <section id="contact">

    <div class="row section-head">

       <div class="two columns header-col">

          <h1><span>Get In Touch.</span></h1>

       </div>

       <div class="ten columns">

             <p class="lead">
               If you would like to contact me please do so via <a href="mailto:contact@oldschool.site">contact@oldschool.site</a>.
             </p>
             <p class="lead">
              I can also be reached via skype phone on 0044 161 818 8525.
             </p>
       </div>
    </div>

</section> <!-- Contact Section End-->