<!-- Portfolio Section
   ================================================== -->
<section id="portfolio">

  <div class="row">

    <div class="twelve columns collapsed">

      <h1>Private projects</h1>

      <p>
        I have a number of personal projects that are ongoing at the moment and you can click below to read about them.
      </p>

      <!-- portfolio-wrapper -->
      <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">

        <div class="columns portfolio-item">
          <div class="item-wrap">

            <a href="#modal-01" title="">
              <img alt="" src="./assets/images/portfolio/tournee.png">
              <div class="overlay">
                <div class="portfolio-item-meta">
                  <h5>tourn.ee</h5>
                  <p>Tournament Organisation Website</p>
                </div>
              </div>
              <div class="link-icon"><i class="icon-plus"></i></div>
            </a>

          </div>
        </div> <!-- item end -->

        <div class="columns portfolio-item">
          <div class="item-wrap">

            <a href="#modal-02" title="">
              <img alt="" src="./assets/images/portfolio/crownport.png">
              <div class="overlay">
                <div class="portfolio-item-meta">
                  <h5>Crown Port</h5>
                  <p>A Real Life Virtual City</p>
                </div>
              </div>
              <div class="link-icon"><i class="icon-plus"></i></div>
            </a>

          </div>
        </div> <!-- item end -->

        <div class="columns portfolio-item">
          <div class="item-wrap">

            <a href="#modal-03" title="">
              <img alt="" src="./assets/images/portfolio/beardclipper.jpg">
              <div class="overlay">
                <div class="portfolio-item-meta">
                  <h5>BeardClipper</h5>
                  <p>YouTube</p>
                </div>
              </div>
              <div class="link-icon"><i class="icon-plus"></i></div>
            </a>

          </div>
        </div> <!-- item end -->

        <div class="columns portfolio-item">
          <div class="item-wrap">

            <a href="#modal-04" title="">
              <img alt="" src="./assets/images/portfolio/oldschool.png">
              <div class="overlay">
                <div class="portfolio-item-meta">
                  <h5>Old School in Bulgaria</h5>
                  <p>Blogging</p>
                </div>
              </div>
              <div class="link-icon"><i class="icon-plus"></i></div>
            </a>

          </div>
        </div> <!-- item end -->

      </div> <!-- portfolio-wrapper end -->

    </div> <!-- twelve columns end -->


    <!-- Modal Popup
      --------------------------------------------------------------- -->

    <div id="modal-01" class="popup-modal mfp-hide">

      <img class="scale-with-grid" src="./assets/images/portfolio/modals/tournee.png" alt="" />

      <div class="description-box">
        <h4>tourn.ee</h4>
        <p>
          Tournee is a website I have built from the ground up to provide Tournament Organisers within the wargaming
          community with a quick and easy tool for building and
          operating tournaments. It also has tools for attendees and does everything you can think of, and more, to make
          life easier for both organisers and attendees.
        </p>
        <span class="categories"><i class="fa fa-tag"></i>Branding, Webdesign, Web Development</span>
      </div>

      <div class="link-box">
        <a href="https://www.tourn.ee/" target="_blank">Visit site</a>
        <a class="popup-modal-dismiss">Close</a>
      </div>

    </div><!-- modal-01 End -->

    <div id="modal-02" class="popup-modal mfp-hide">

      <img class="scale-with-grid" src="./assets/images/portfolio/modals/crownport.png" alt="" />

      <div class="description-box">
        <h4>Crown Port</h4>
        <p>
          One of my favourite things to do in my down time is make terrain and scenery for war gaming and also model railways (or just for fun).
          As Corona Virus kicked in and people found themselves out of work and unable to get outside a group of us decided to create a Real World Virtual City,
          allowing fellow hobbyists to do what they love and build a community in the process. That is what this site is all about.
        </p>
        <span class="categories"><i class="fa fa-tag"></i>Branding, Webdesign, Web Development</span>
      </div>

      <div class="link-box">
        <a href="https://www.crownport.net" target="_blank">Visit site</a>
        <a class="popup-modal-dismiss">Close</a>
      </div>

    </div><!-- modal-02 End -->

    <div id="modal-03" class="popup-modal mfp-hide">

      <img class="scale-with-grid" src="./assets/images/portfolio/modals/beardclipper.png" alt="" />

      <div class="description-box">
        <h4>BeardClipper</h4>
        <p>
          For the past few months I have been building up a YouTube channel around my hobbying with terrain building and miniature painting. I have passed 400 subscribers,
          which I am very pleased with, and produce three videos a week; Sundays is a weekly vlog, Tuesdays is a long video (maybe one of a series) and Thursdays is normally
          something for the beginner.
        </p>
        <span class="categories"><i class="fa fa-tag"></i>Video Making, YouTube</span>
      </div>

      <div class="link-box">
        <a href="https://www.youtube.com/channel/UCzxbyswHrmvrL2DYQLfuh6Q/" target="_blank">Visit channel</a>
        <a class="popup-modal-dismiss">Close</a>
      </div>

    </div><!-- modal-03 End -->

    <div id="modal-04" class="popup-modal mfp-hide">

      <img class="scale-with-grid" src="./assets/images/portfolio/modals/oldschool.png" alt="" />

      <div class="description-box">
        <h4>Old School in Bulgaria</h4>
        <p>
          In 2014 I emigrated from the UK to Bulgaria, moving into a derelict Old School. Since then I have been steadily renovating the property
          and keeping a regular blog (whenever building work is ongoing) in the process.
        </p>
        <span class="categories"><i class="fa fa-tag"></i>Blogging, renovation</span>
      </div>

      <div class="link-box">
        <a href="https://oldschoolbulgaria.blogspot.com/" target="_blank">Visit blog</a>
        <a class="popup-modal-dismiss">Close</a>
      </div>

    </div><!-- modal-04 End -->

  </div> <!-- row End -->

</section> <!-- Portfolio Section End-->