
   <!-- About Section
   ================================================== -->
   <section id="about">

    <div class="row">

       <div class="three columns">

          <img class="profile-pic"  src="./assets/images/profilepic.jpg" alt="" />

       </div>

       <div class="nine columns main-col">

          <h2>About Me</h2>

          <p>
            My name is Andrew Cox and I have been a software developer professionally since 2001. For the past six years I have been renovating
            an <a href="https://oldschoolbulgaria.blogspot.com/" target="_blank">Old School</a> in Bulgaria and have maintained my business by
            specialising in remote working, building international distributed teams, and shipping software while not in a client office.
          </p>
          <p>
            My main technical skills are web based, developing ReSTful APIs, distributed systems, and delivering full stack applications. Non technically
            I have proven ability to bring teams along and increase their delivery, mentoring junior team members to excel past their own expectations.
          </p>
          <p>
            in order to facilitate an international presence I maintain a UK ltd company (<a href="https://beta.companieshouse.gov.uk/company/11900670" target="_blank">Companies House website</a>)
            in addition to the Bulgarian EOOD; I am VAT registered in both regions. I have a network
            of experienced developers who have worked with me for various clients and provide a flexible expansion pool for my own services.
          </p>

          <div class="row">

             <div class="columns contact-details">

                <h2>Contact Details</h2>
                <p class="address">
                   <span>+44 161 818 8525</span><br>
                   <span>+359 89 371 1652</span><br>
                   <span>contact@oldschool.site</span>
                </p>

             </div>

             <div class="columns download">
                <p>
                   <a href="./assets/documents/andrew_cox_resume_2020.pdf" target="_blank" class="button"><i class="fa fa-download"></i>Download Resume</a>
                </p>
             </div>

          </div> <!-- end row -->

       </div> <!-- end .main-col -->

    </div>

 </section> <!-- About Section End-->