 <!-- footer
   ================================================== -->
   <footer>

    <div class="row">

       <div class="twelve columns">

          <ul class="social-links">
            <li><a href="https://www.facebook.com/therooo" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.linkedin.com/in/andrew-cox-30a4b813/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://www.instagram.com/beardclipper/" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://join.skype.com/invite/nHs3YwOuAtaq" target="_blank"><i class="fa fa-skype"></i></a></li>
          </ul>

          <ul class="copyright">
             <li>&copy; Copyright 2014 CeeVee</li>
             <li>Design by <a href="http://www.styleshout.com/" title="Styleshout" target="_blank">Styleshout</a></li>   
          </ul>

       </div>

       <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

    </div>

 </footer> <!-- Footer End-->