<ul class="social">
  <li><a href="https://www.facebook.com/therooo" target="_blank"><i class="fa fa-facebook"></i></a></li>
  <li><a href="https://www.linkedin.com/in/andrew-cox-30a4b813/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
  <li><a href="https://www.instagram.com/beardclipper/" target="_blank"><i class="fa fa-instagram"></i></a></li>
  <li><a href="https://join.skype.com/invite/nHs3YwOuAtaq" target="_blank"><i class="fa fa-skype"></i></a></li>
  <li><a href="https://github.com/oldschoolbg" target="_blank"><i class="fa fa-github"></i></a></li>
</ul>