<!-- Testimonials Section
   ================================================== -->
<section id="testimonials">

  <div class="text-container">

    <div class="row">

      <div class="two columns header-col">

        <h1><span>Client Testimonials</span></h1>

      </div>

      <div class="ten columns flex-container">


        <div class="flexslider">

          <ul class="slides">

            <li>
              <blockquote>
                <p>
                  I was Andrew's hiring manager for Connect Childcare (2019-2020)
                </p>
                <p>
                  I would have no hesitation in recommending Andrew as Strong technical resource for any development
                  team. Andrew is direct, personable, communicates clearly and effectively. I needed a strong contractor
                  on my project team as I had some juniors in my squad. Andrew was able to land running and direct
                  technical direction in coordination with myself, act as a mentor to my junior staff and provide
                  valuable insight about cross-application interconnection. I have between 4-6 application streams
                  running so don't have as much time to spend with juniors as I would like. Andrew was able to take
                  ownership of tasks, team coordination activities and participate/lead three-amigos quality drives.
                </p>
                <p>
                  I would have no doubts about employing Andrew again and hope to do so. I am confident he would be as
                  key a technical asset to any organisation as he has been to my own.
                </p>
                <cite>
                  <a href="https://www.linkedin.com/in/edleonard1973/" target="_blank">Ed Leonard - Connect Childcare</a>
                </cite>
              </blockquote>
            </li> <!-- slide ends -->

            <li>
              <blockquote>
                <p>
                  Andrew is a very capable developer with a natural grasp of object-oriented design and test-driven
                  development. He's also a quick and able student, and always keen to do the best job he can under any
                  circumstances. Andrew is also great fun to work with, creating a great team spirit and regularly
                  bringing a smile to everyone's face. He works hard, excels, and encourages everyone around him to excel
                  too. I would be very happy to work with him again.
                </p>
                <cite>
                  <a href="https://www.linkedin.com/in/kevinrutherford/" target="_blank">Kevin Rutherfood - mentor</a>
                </cite>
              </blockquote>
            </li> <!-- slide ends -->

          </ul>

        </div> <!-- div.flexslider ends -->

      </div> <!-- div.flex-container ends -->

    </div> <!-- row ends -->

  </div> <!-- text-container ends -->

</section> <!-- Testimonials Section End-->