<!-- Resume Section
   ================================================== -->
<section id="resume">

  <!-- Work
    ----------------------------------------------- -->
  <div class="row work">

    <div class="three columns header-col">
      <h1><span>Work History</span></h1>
    </div>

    <div class="nine columns main-col">

      <div class="row item">

        <div class="twelve columns">

          <h3>Connect Childcare Ltd</h3>
          <p class="info">Senior Developer <span>&bull;</span> <em class="date">April 2019 - Present</em></p>
          <p class="info">
            <a href="https://www.connectchildcare.com/" target="_blank">https://www.connectchildcare.com/</a>
            ::
            <a href="https://www.foundations.software/" target="_blank">https://www.foundations.software/</a>
          </p>
          <p>
            Connect Childcare provide software for nurseries and childminders to assist them in regulatory and other
            tasks; they are
            developing a tool to allow parents to have greater visibility and input. I was brought on to speed the
            delivery of their new
            Foundations product, which has now gone live in second beta. I have taken a key role in guiding incoming
            requirements through
            the approval process and into development while also developing full time. A large part of my role is
            mentoring junior developers
            as the team is young and inexperienced. This role has also given me the chance to revisit my c# skills and
            to pick up never technologies
            such as Entity Framework and DotNet Core.
          </p>

        </div>

      </div> <!-- item end -->

      <div class="row item">

        <div class="twelve columns">

          <h3>Blockpool Ltd</h3>
          <p class="info">Head of Development <span>&bull;</span> <em class="date">March 2017 - September 2018</em></p>
          <p class="info">
            <a href="https://www.blockpool.io" target="_blank">https://www.blockpool.io</a>
          </p>

          <p>
            I joined Blockpool, a blockchain startup, as an independent contractor tasked with delivering a Proof of
            Concept and was quickly
            brought on board and offered equity. Since then I built the development team from myself and one other part
            timer to an international
            group of flexible working individuals focused on shipping cutting edge technology. I remained the primary
            developer during this period
            and wrote the majority of the code for connecting multiple strains of blockchain into a single API as well
            as designing and delivering a
            unique automated sidechain tool on our ARK-forked mainchain. We implemented our own OAuth2 provider to allow
            3rd parties to authenticate
            with our secure systems providing access to the web-wallet and online payment services with Single Sign On
            with their existing Authentication.
            We investigated other technologies, such as SAML, and spiked these but chose OAuth2.
          </p>

        </div>

      </div> <!-- item end -->

      <div class="row item">

        <div class="twelve columns">

          <h3>Nobel Biocare</h3>
          <p class="info">Senior Developer <span>&bull;</span> <em class="date">July 2016 - November 2016</em></p>
          <p class="info">
            <a href="https://www.nobelbiocare.com/international/en"
              target="_blank">https://www.nobelbiocare.com/international/en</a>
          </p>

          <p>
            Nobel employed me to assist with delivering a control application for a new style of dental chair. The
            system managed cleaning and maintenance
            cycles on up to 1000 chairs, keeping full audits as required by European law, and providing a dashboard
            facility for at-a-glance understanding
            of the current state of the estate. I worked in a team of four, and occupied the senior developer position.
            I was heavily involved in architecting
            the solution, working closely with stakeholders to ensure that the requirements were met in the best way
            possible. We used Angular 1.5 but
            worked to enable an easy upgrade path to 2.0 for future development. The API was written in C# using WebAPI
            to provide a clean ReST service
            with single responsibility per controller and verb driven endpoints. The software shipped on time and the
            customer was very happy.
          </p>

        </div>

      </div> <!-- item end -->
      <div class="row item">

        <div class="twelve columns">

          <h3>Payzone</h3>
          <p class="info">Senior Developer <span>&bull;</span> <em class="date">October 2014 - July 2016</em></p>
          <p class="info">
            <a href="https://www.payzone.co.uk/" target="_blank">https://www.payzone.co.uk/</a>
          </p>

          <p>
            Payzone operate the second largest point of sale payment network in the country allowing people who do not
            have a bank account to pay for mobile
            telephones and utility bills, as well as other convenience items such as smart ticketing and tolls. The
            hardware and software they operated on
            was very old and they had a project to replace everything with a tablet based infrastructure. We built a one
            page AngularJS app running on a
            bespoke tablet, with a Ruby ReSTful API isolating us from the legacy systems. I was responsible for
            implementing the existing products onto the
            new UI. This involved prototyping, design and integration as well as liaising with the existing technical
            teams to ensure continuation of
            service. We used jasmine as a test harness to run complete interaction based testing for the UI using BDD
            techniques.
          </p>

        </div>

      </div> <!-- item end -->

    </div> <!-- main-col end -->

  </div> <!-- End Work -->


  <!-- Skills
    ----------------------------------------------- -->
  <div class="row skill">

    <div class="three columns header-col">
      <h1><span>Skills</span></h1>
    </div>

    <div class="nine columns main-col">

      <p>
        As an experience contractor I am well versed in picking up new technologies quickly; below is a brief summary of those
        skills I have mastered over the past few years. Each I am comfortable with in a production environment and would be
        able to deliver immediately, day one, within these areas.
      </p>
      <p>
        In addition to these technical skills I have operated as a Business Analyst, Product Owner and Scrum Master, running
        teams of various sizes both on site and, most recently, distributed across a wide variety of timezones and locations.
      </p>

      <div class="bars">

        <ul class="skills">
          <li><span class="bar-expand nodejs"></span><em>node.js (7 years)</em></li>
          <li><span class="bar-expand vanillajs"></span><em>vanilla js (21 years)</em></li>
          <li><span class="bar-expand expressjs"></span><em>express.js (7 years)</em></li>
          <li><span class="bar-expand oauth"></span><em>Oauth / Single Sign On (3 years)</em></li>
          <li><span class="bar-expand angular"></span><em>Angular x  and Typescript (6 years)</em></li>
          <li><span class="bar-expand html-css"></span><em>HTML/CSS (21 years)</em></li>
          <li><span class="bar-expand pgsql"></span><em>PostgreSQL (7 years)</em></li>
          <li><span class="bar-expand sql"></span><em>MSSQL/MySQL (21 years)</em></li>
          <li><span class="bar-expand csharp"></span><em>C# (13 years)</em></li>
          <li><span class="bar-expand dotnetcore"></span><em>dotnet Core (1 year)</em></li>
          <li><span class="bar-expand efcore"></span><em>Entity Framework Core (1 year)</em></li>
          <li><span class="bar-expand nosql"></span><em>MongoDB, RavenDB, NoSQL (5 years)</em></li>
          <li><span class="bar-expand git"></span><em>Git (9 years)</em></li>
          <li><span class="bar-expand rest"></span><em>ReST (13 years)</em></li>
          <li><span class="bar-expand tdd"></span><em>TDD (13 years)</em></li>
          <li><span class="bar-expand agile"></span><em>Agile / Scrum (13 years</em></li>
          <li><span class="bar-expand blockchain"></span><em>Blockchain (2 years)</em></li>
          <li><span class="bar-expand docker"></span><em>Docker (2 years)</em></li>
        </ul>

      </div><!-- end skill-bars -->

    </div> <!-- main-col end -->

  </div> <!-- End skills -->

</section> <!-- Resume Section End-->